html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 242, 253);
  overflow: hidden; /* Remove rolagem para manter tudo visível */
}

/* Estiliza o SVG */
svg {
  width: 90vw; /* Ajusta para ocupar 90% da largura da tela */
  height: auto; /* Mantém a proporção do SVG */
  max-width: 140000px; /* Define um tamanho máximo para telas grandes */
  max-height: 80vh; /* Limita a altura ao máximo de 80% da tela */
}

/* Ajusta o SVG para se adaptar melhor a diferentes resoluções */
@media (max-width: 1024px) {
  svg {
    width: 95vw; /* Para telas menores, o SVG ocupa mais espaço */
    max-height: 85vh;
  }
}

@media (max-width: 768px) {
  svg {
    width: 100vw;
    max-height: 90vh;
  }
}

/* Estiliza os botões */
.controle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #1e88e5;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

/* Estilos que permitem as imagens girar */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Classe que será ativada via JS */
.ventilador-ativo {
  animation: spin 2s linear infinite;
}
